node_modules/*
5.Server_Side_Development_with_NodeJS/code/rest-server/node_modules/*

5.Server_Side_Development_with_NodeJS/code/node-mongoose/node_modules/*

5.Server_Side_Development_with_NodeJS/code/node-mongodb/node_modules/*

5.Server_Side_Development_with_NodeJS/code/mongodb/node_modules/*

5.Server_Side_Development_with_NodeJS/code/node-examples/node_modules/*

5.Server_Side_Development_with_NodeJS/code/node-express/node_modules/*

5.Server_Side_Development_with_NodeJS/code/node-express-gen/node_modules/*

5.Server_Side_Development_with_NodeJS/code/node-http/node_modules/*

5.Server_Side_Development_with_NodeJS/code/mongodb/data/*

5.Server_Side_Development_with_NodeJS/code/node-express-gen/bin/*

5.Server_Side_Development_with_NodeJS/code/rest-server/views/*

5.Server_Side_Development_with_NodeJS/code/rest-server/bin/*

